<!DOCTYPE>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-3.3.5-dist/css/bootstrap.min.css">
  </head>
  <body ng-app="directoryApp">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Directory</h1>
            <div ui-view></div>
          </div>
        </div>
      </div>

      <script type="text/ng-template" id="/home.html">
        <div class="col-md-6">
          <h2> All my contacts </h2>
          <input type="search" class="form-control" ng-model="search">
          <div ng-repeat="contact in contacts | filter: search |  orderBy:'firstname':false">
            <div class="col-md-12 contact">
              <div class="col-md-10">
                <h4> <a href="#/contacts/{{contact._id}}"> {{contact.firstname}} {{contact.lastname}} </a> </h4>
              Email : {{contact.email}}
              </div>
              <div class="col-md-2">
                <button class="bt btn-primary" ng-click="deleteContact(contact)">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h2> Add a new contact </h2>
          <form ng-submit="addContact()">
            First name :
            <input type="text" ng-model="firstName" class="form-control">
            Last name :
            <input type="text" ng-model="lastName" class="form-control">
            Email :
            <input type="email" ng-model="email" class="form-control">

            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </script>
      <!-- end of /home template -->


      <script type="text/ng-template" id="/edit.html">
        <div class="col-md-12">
          <h2> Edit </h2>
          <form ng-submit="editContact()">
            First name :
            <input type="text" ng-model="contact.firstname" class="form-control" name="firstname">
            Last name :
            <input type="text" ng-model="contact.lastname" class="form-control" name="lastname">
            Email :
            <input type="email" ng-model="contact.email" class="form-control" name="email">

            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          <a href="/#/home">Back</a>
        </div>
      </script>
      <!-- end of /edit template -->

      <script src="/libs/angular/angular.min.js"></script>
      <script src="libs/angular-ui-router/build/angular-ui-router.min.js"></script>
      <script src="app.js"></script>

  </body>
</html>
